@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap')

*
    font-family: Roboto, sans-serif

body, html
    overflow: hidden
    padding: 0
    margin: 0
    width: 100%
    height: 100%
    background-image: url(./kane.png)
    background-size: contain
    background-position: center
    background-color: #f8f2ee
    background-repeat: no-repeat
.overlay
    position: absolute
    top: 0
    left: 0
    width: 100%
    height: 100%
    opacity: .4
    z-index: 1
    background-color: black
.content
    position: relative
    z-index: 3
    height: 80%
h1
    margin: 0
    padding:
        top: 48px
    width: 100%
    text-align: center
    font-size: 4em
    color: #ffff
    white-space: nowrap

.italic
    font-style: italic
.Text
    margin-top: 2.5rem
    width: 100%
    text-align: center
    color: #ffff
    font-size: 1.6em
    line-height: 1.4
.Footer
    position: absolute
    width: 100%
    text-align: center
    bottom: 0
p
    text-align: center
    width: 100%
    height: 10px
    color: #ffff
a
    color: deepskyblue
    text-decoration: none
    font-weight: bold
    text-shadow: 1px 1px 1px white